* {
  font-family: 'OCR A Std', monospace;
  font-size: 1.3rem;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 2rem;
  color: white;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  height: 100vh;
  width: 100vw;
  margin: 0px;
}

select {
  background: #fc43d4;
  border: 6px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
  padding: 0 .5em;
  color: #fff;
  cursor: pointer;
}

option {
  background: rgb(217, 36, 253);
}

#root {
  background: linear-gradient(rgba(0, 0, 0, 0.38), rgba(0, 0, 0, 0.38)), url('../img/bg.jpg') no-repeat fixed center;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  flex-direction: column;
  margin: 0 auto;
  max-width: 800px;
  height: 100vh;
  animation: fadeIn 1.18s;
}

.bomb {
  background: url('../img/bomb.png');
  background-size: contain;
  height: 100%;
  width: 100%;
}

.flag {
  background: url('../img/flag.png') no-repeat;
  background-size: contain;
  height: 80%;
  width: 80%;
}

.cell {
  background: rgb(224, 224, 224);
  text-align: center;
  border: 5px outset white;
  padding: 2px;
  text-decoration: none;
}

.cell:hover {
  background: #f5f5f5;
}
.cell:active {
  border-style: inset;
}

#game-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding: 20px 40px;
  margin: 15px;
  border: 2px solid rgba(255, 255, 255, 0.315);
  border-radius: 30px;
  color: white;
}

#grid {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  display: grid;
}

/* Overlay Styling from Pavol's Lights Out Game  */

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 999;
  opacity: 1;
  animation: 0s;
  transition: all 0s;
  visibility: hidden;
  animation: fadeOut 0.4s;
  animation-fill-mode: forwards;
}
#overlay * {
  pointer-events: none;
}

#overlay.active {
  visibility: visible;
  animation: fadeIn 0.4s;
  animation-fill-mode: forwards;
}

#overlayin {
  padding: 1em 4em;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  flex-direction: column;
  color: rgb(255, 255, 255);
  box-shadow: 0 0 20px black;
}

#overlayin p {
  text-align: center;
  font-size: 1em;
}

p.big {
  font-size: 2em !important;
}

p.darker {
  color: #aaa;
}

p.glow {
  animation: glow 0.85s infinite alternate-reverse;
}

@keyframes glow {
  from {
    text-shadow: 0 0 20px rgb(255, 255, 0);
  }
  to {
    text-shadow: 0 0 20px rgb(255, 115, 0);
  }
}

#overlay.active #overlayin {
  opacity: 0;
  animation: spinIn 0.75s ease-in-out;
  animation-fill-mode: forwards;
}

#overlayin * {
  margin: 0px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes spinIn {
  from {
    transform: scale(0.1) rotateX(0deg);
    opacity: 0;
  }
  to {
    transform: scale(1) rotateX(360deg);
    opacity: 1;
  }
}

/* Responsive Media Queries */

/* Medium Devices (Desktops, Laptops) */
@media only screen and (max-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

/* Small Devices (Phones, Tablets) */
@media only screen and (max-width: 768px) {
  * {
    font-size: 1.15rem;
  }

  h1 {
    font-size: 1.8rem;
  }

  .container {
    max-width: 768px;
  }

  #game-header {
    padding: 10px 18px;
    margin: 15px;
  }

  #grid {
    width: 768px;
    margin: 0 auto;
    display: grid;
  }

  #overlayin {
    padding: 1.1em 2.2em;
    box-shadow: 0 0 15px black;
  }
  
  #overlayin p {
    font-size: 1em;
  }
  
  p.big {
    font-size: 1.5em !important;
  }
}

/* Extra Small Devices (Phones) */
@media only screen and (max-width: 480px) {
  * {
    font-size: 1rem;
  }

  h1 {
    font-size: 1.5rem;
    color: rgb(109, 187, 231);
  }

  .container {
    max-width: 480px;
  }

  #game-header {
    padding: 6px 12px;
    margin: 10px;
  }

  #grid {
    width: 100%;
    margin: 0 auto;
    display: grid;
  }

  #overlayin {
    padding: 1em 2em;
    box-shadow: 0 0 10px black;
  }
  
  #overlayin p {
    font-size: 0.85em;
  }
  
  p.big {
    font-size: 1.25em !important;
  }
}